@model Shopping.Application.Dtos.ItemDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Unable to add item</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">test</h1>
</div>
</body>
</html>